{% verbatim %}
<div class="blog-app">
    <h1>{{#link-to "posts"}}Example Blog{{/link-to}}</h1>
    <nav>
        {{#each category in categories itemController="category"}}
            {{#link-to "categoryPosts" category.id classNameBindings="controller.isActive:current"}}{{category.name}}{{/link-to}}
        {{/each}}
    </nav>
    {{outlet}}
</div>
{% endverbatim %}
<footer>
    <a href="{% url 'posts' %}">Classic version</a>
</footer>
