Django==1.7.4
django-celery==3.1.16
django-facebook-auth==3.7.5
django-sslserver==0.14
pillow==2.7.0
git+https://github.com/pozytywnie/django-social-metadata.git#egg=django-social-metadata
git+https://github.com/pozytywnie/facebook-signed-request.git#egg=facebook-signed-request
